<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">


    <title>Home</title>
</head>

<body class="d-flex flex-column vh-100">
  <nav class="navbar sticky-top navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="home.html">Jubey's Gallery</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="home.html">Home</a>
              <a class="nav-link" href="./usa.html">USA</a>
              <a class="nav-link" href="./canada.html">Canada</a>
              <a class="nav-link" href="./au.html">Australia</a>
              <a class="nav-link active" href="./contact.html">Contact</a>
            </div>
        </div>
    </div>
</nav>
        <main class="container mt-5">
            <h1 class="mb-5">Please Leave your message</h1>
            <form action="">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Please enter your Eamil address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Leave your message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <br>
              <button type="button" class="btn btn-outline-secondary" >Submit</button>
            </form>
        </main>
        <footer class="footer bg-dark py-2 mt-auto">
          <div class="container">
              <span class="text-muted">&copy; Jubey Chen 2022</span>
          </div>
      </footer>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js
"></script>
</body>

</html>
